@tailwind base;
@tailwind components;
@tailwind utilities;

.min-h-section {
	min-height: calc(100vh - 64.67px - 1rem);
	/* 100vh - header - main.padding*/
}
.min-h-section:last-child {
	min-height: calc(100vh - 64.67px - 2 * 1rem);
	/* 100vh - header - main.padding*/
}

article.prose h1,
article.prose h2,
article.prose h3,
article.prose h4,
article.prose h5,
article.prose h6 {
	margin-bottom: 0;
}